# Virtual Environment
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.Python

# Data files (often too large/sensitive)
data/*.csv
data/*.xlsx
*.log

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
